## Description

Learn what series and dataframes are, how to create them and use the power of the pandas library for deriving results 


## Overview

- Pandas overview
- Creating dataframes and series
- Indexing, selection, addition and deletion of rows and columns
- Apply, map, grouby functions
- Plotting


## Learning Objectives

- Create dataframes
- Perform common data manipulation tasks
- Visualize data with pandas


## Pre-requisites

- Base Python
- Numpy
- Matplotlib

## Chapter 1: Pandas DataFrames 


### Description: In this chapter, you will be introduced to `pandas` library and learn about the available data structures inside it and how to create them.

### 1.1 Introduction to pandas

***

**Why pandas for data analysis?**

An important step for any data scientist is to prepare and clean the data so that it could be used later for deeper analysis. Analysis on raw and unclean data could lead to wrong insights which could derail the organization. Real 'raw' data needs a lot of 'wrangling' operations before it can be ready for dissection by a data scientist. One of the popular tools for data wrangling in python is `pandas`. 

One of the reasons why Python is used extensively for Data Science is the availability of widespread packages for almost every possible function. The library `pandas` is one such package which makes life easier especially for data analysis through its extensive in-built functions for manipulations and visualizations. It is built on top of the `NumPy` and `matplotlib` library and one can harness the power of both these libraries in tandem with the power of `pandas`. Besides, there is huge community support especially for `pandas` and there are very high chances that you will get an answer for your query (if and when you get stuck) on the Internet. Take a look at the trend below to realize its popularity amongst users.

<img src="../images/pandas_popularity.png" width="800" height="400" />


**Data structures in pandas**

Pandas deals with the three data structures:
- Series (Labeled 1 dimensional with homogeneous data but immutable size)
<img src="../images/series.jpg" width="400" height="400" />

- DataFrame (Labeled 2 dimensional size-mutable tabular structure with potentially heterogeneously typed columns)
<img src="../images/dataframe.jpg" width="400" height="400" />

- Panel (Labeled 3 dimensional size-mutable array)

The one with that we mostly deal with in our day-to-day life is the DataFrame type which is nothing but tabular data that we frequently encounter, particularly while using **Excel**. 

In the next part of the course you will learn more about the **Series** and **DataFrame** variant of `pandas` data structures.

### 1.2 Series 

***

A Series is a single vector of data (like a `NumPy` array) with an **index** that labels each element in the vector. **The main difference between a series and NumPy array is that series may have axis labels, a NumPy array doesn't**.  A `NumPy` array comprises the values of the series, while the index is a pandas `Index` object. It can hold any type of data (integer, string, float, python objects, etc.) as long as the data is homogeneous throughout the series. If an index is not specified, a default sequence of integers is assigned as the index.

**Creating series**

The constructor for series is : `pandas.Series(data, index, dtype, copy)`

Here, 
- **data**: data (can be lists, ndarrays, dictionaries etc.)
- **index**: unique, hashable and same length as data (default is `np.arange(n)` where n is length of data)
- **dtype**: data type of series values
- **copy**: copy data (default `False`)

Now lets look at the different ways to create a series using `pandas`:

1) From **NumPy ndarray**

   - In the first series indices are from $0$ to $2$ 
   - In the second series they are as specified by ['a', 'b', 'c']

<img align="left" src="../images/series_1.png" width="1000" height="400" />

2) From **Dictionary**

   - When index is not specified, then the **keys** are taken in a **sorted order** as index values.
   - If index is passed, values in data corresponding to the labels in the index will be accessed, the index which are absent in the keys of the dictionary will have **NaN** values.
    
<img align="left" src="../images/series_2.png" width="1000" height="400" />


3) From **Scalar**

   - Index is provided and scalar will be repeated to match the value and the length of it. 
    
<img align="left" src="../images/series_3.png" width="1000" height="200" />



***

## Create your first `pandas` Series

In this task you will create a `pandas` series yourself (for the first time) and look at its output.

### Instructions
- Create a list `nums` containing the phone numbers `800678` and `800456`
- Create a list `names` containing the names `'Richie'` and `'Mark'`
- Next, create a `pandas` series consisting of phone numbers of `'Richie'` and `'Mark'` having values `800678` and `800456`  with default index (i.e. $0$ & $1$) and save it as `series_1`
- Now create the same series as above but with names as index this time using `index=names` inside `.Series()` method of `pandas`. Save it as `series_2`
- Print `series_1` and `series_2`

In [2]:
## Task 1 
import pandas as pd

# Code starts here

# initialize lists of numbers and names
nums = [800678, 800456]
names = ['Richie', 'Mark']

series_1 = pd.Series(nums)
print(series_1)
print('='*50)
series_2 = pd.Series(nums, index=names)
print(series_2)

# Code ends here

0    800678
1    800456
dtype: int64
==================================================
Richie    800678
Mark      800456
dtype: int64

### Hints
- Initialize both lists as 
```python
nums = [800678, 800456]
names = ['Richie', 'Mark']
```
- Create `series_1` as
```python
series_1 = pd.Series(nums)
```
- Create `series_2` containing `names` as index as 
```python
series_2 = pd.Series(nums, index=names)
```

### 1.3 Accessing data in Series

***

Locating data in a series is of prime importance in data analysis tasks. There are two ways by which you can access data in series objects:

1) **By Position**: A series is very similar to a `NumPy` array (index starts at $0$), so data can be accessed in the same manner as we did for `NumPy` arrays. The syntax remains the same i.e. `series[start:stop:step]`. Let us understand with an example. 

<img align="left" src="../images/series_4.png" width="1000" height="200" />

2) **By labels**: We can also use the index labels to access data given the condition that the label is in the index; otherwise it will throw a `KeyError`. Accessing data can be either:

- Single element access: `series[index]`
- Multiple element access: `series[[index1, index2, index3, .....]]`

**Remember to use [[ ]] to access multiple elements via labels**

The example below shows accessing data with labels

<img align="center" src="../images/series_5.png" width="1000" height="600" />

**NOTE:** It may happen that while combining series you arrive at another series which contains null values or **NaN**s. Most often they are undesirable and you can replace them with any value you want with the help of `.fillna()` method of pandas. Lets say you want to replace **NaN**s with value `a`; simply use `series.fillna(a)` and additionaly if you want the change to be permanent use `inplace=True` inside `.fillna()` method.   

***

## What if we add two Series with different indices?

In this task you will add two series, with different indices. 

- Create two series with same values $[1,2,3,4]$ but having different indices; one with $[0,1,2,3]$ and the other $[0,1,3,4]$. Save the first series as `a` and the second one as `b` 
- Then add both the series as $series1 + series2$ and save it as `c`
- Print it out to check `c` and you will observe some missing value as **`NaN`** s
- Replace those **`NaN`** s permanently with `0`s using `.fillna(0, inplace=True)`
- Again print out `c` and to confirm that **NaN**s have been replaced

In [3]:
import pandas as pd

# Code starts here

a = pd.Series([1,2,3,4], index=[0,1,2,3])
b = pd.Series([1,2,3,4], index=[0,1,3,4])

c = a + b
print(c)
print('='*20)

c.fillna(0, inplace=True)
print(c)

# Code ends here

0    2.0
1    4.0
2    NaN
3    7.0
4    NaN
dtype: float64
====================
0    2.0
1    4.0
2    0.0
3    7.0
4    0.0
dtype: float64

### Hints
- Create series `a` and `b` as:
```python
a = pd.Series([1,2,3,4], index=[0,1,2,3])
b = pd.Series([1,2,3,4], index=[0,1,3,4])
```
- Add the two series as
```python
c = a + b
```
- To replace **NaN**s with $0$s use
```python
c.fillna(0, inplace=True)
```

### 1.4 Dataframes

***

**What is a dataframe?**

The concept of a dataframe comes from the world of statistical software used in empirical research. It generally refers to **tabular** data: a data structure representing **instances(rows)**, each of which consists of a number of **measurements(columns)**. Alternatively, each row may be treated as a single observation of multiple **variables**. An example of dataframe that we commonly come across in Excel is shown below:

<img align="center" src="../images/excel.png" width="1000" height="600" />

Here,

- $2, 3, 4, .....$ are the **rows/instances**
- `account`, `name`, `street`, `city` etc. are the **measurements/variables** for each instance

***

**Features of `pandas` dataframe**

Due to the widespread use of 2-D tabular data, `pandas` is one of the most widely used packages especially for dataframes. Dataframes have the following features:

- Columns can be of different types
- Size is mutable
- Labeled axes (rows and columns)
- Can perform arithmetic operations on rows and columns

***

### 1.5 Creating dataframes

***

**How to create dataframes?**

The constructor for `pandas` dataframe object is `pandas.DataFrame( data, index, columns, dtype, copy)`.

Here, 
- `data`: various forms (ndarray, series, map, lists, dict, constants, another DataFrame)
- `index`: index labels (default `np.arange(n)`) 
- `columns`: column names (default `np.arange(n)`); True only when `index` is not specified
- `dtype`: Data type of each column
- `copy`: copying of data (default `False`)


Now depending on the form of the `data` we can construct dataframes from different sources. Let us discuss few of them: 

1) From **lists**:

<img align="left" src="../images/pandas_list_1.png" width="1000" height="600" />

   Here, we pass the names ['Rob', 'Bobby', 'John', 'Danny', 'Manny'] as the values of a column/feature titled `Name` and having indices [0, 1, 2, 3, 4].Now let us pass a list of lists as values so that we can accomodate more than single column/feature. It is demonstrated below:
   
<img align="left" src="../images/pandas_list_2.png" width="1000" height="600" />

   We have simply added `Age` column for each and every instance (rows)
   
2) From **dictionary**

We can also use dictionaries for creating dataframes. Lets see how:

- **Dictionary of ndarrays/lists**: The **keys** of the dictionary will be the **feature names** and the **values** will be the values for that feature across the dataframe. Remember that the ndarrays/lists must have the same length. 

<img align="left" src="../images/pandas_dict_1.png" width="1000" height="600" />

In the above example we have constructed the same dataframe as in the previous example but using a dictionary this time, albeit with an index. Observe closely to make out the syntax. 

3) From **list of dictionaries**: Here, each element correspinds to a row/instance and every element is a dictionary. This dictionary in turn contains the feature names as the keys and feature values as the values of that key. We create the same dataframe as the previous example this time but now as a list of dictionaries.

<img align="left" src="../images/dataframe_lod.png" width="1000" height="600" />


4) From **series**: 

<img align="left" src="../images/pdtodf.png" width="1000" height="600" />


***

## Create your first DataFrame

In this task you will create a dataframe containing the phone numbers and pincodes of two persons `Richie` and `Mark` using any the methods explained in the topic.

### Instructions 
- Save their pincodes as a list `pincodes` which has values `(800678, 2567890)`
- Save their phone numbers as a list `numbers` containing values `(800456, 2567657)`
- Create a list `labels` which you will be using as index for the dataframe. It contains the initials of `Richie` and `Mark` i.e. `R` and `M`
- Use the dataframe constructor `.DataFrame()` to create the dataframe with `labels` as index and column names as `Number` and `Pincode`. Save it as `first`
- Print out `first`

In [4]:
import pandas as pd

# Code starts here

pincodes = [800678, 800456]
numbers = [2567890, 2567657]
labels = ['R', 'M']

first = pd.DataFrame({'Number':numbers, 'Pincode':pincodes}, index=labels)
print(first)

# Code ends here

    Number  Pincode
R  2567890   800678
M  2567657   800456

### Hints
- First create the series `pincodes`, `numbers` and `labels` in the following manner:
```python
pincodes = [800678, 800456]
numbers = [2567890, 2567657]
labels = ['R', 'M']
```
- We will show you how to create the dataframe using the dictionary method:
```python
first = pd.DataFrame({'Number':numbers, 'Pincode':pincodes}, index=labels)
```

## Quiz

1. Which of the following thing can be data in Pandas?

    a. Dictionary
    
    b. NumPy ndarray
    
    c. List
    
    d. All of the above
    
**ANS**: d. All of the above


2. Will there be NaN values if we combine (add) two series with different indices?

    a. YES
    
    b. NO
    
**ANS**: a. YES


3. Which keyword is used to specify the index labels in pandas.DataFrame() function?

    a. columns
    
    b. index
    
**ANS**: b. index


4. Can a pandas Series object hold data of different types?

    a. YES
    
    b. NO
    
**ANS**: a. YES

## Chapter 2: Basic pandas operations

### Description: In this chapter you will learn about selecting, adding, deleting operations on rows and columns by taking you through the Pokemon dataset. It will prepare you to progress towards more advanced operations

### 2.1 File I/O

***

`pandas` I/O API provides a set of reader functions like `read_csv()`, `read_table()` and returns a `pandas` object. It parses the data and converts it intelligently into a DataFrame.

If the file has a **.csv** format use `pandas.read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer',names=None, index_col=None, usecols=None`** to convert a file into a DataFrame. Most of the files you encounter will be in csv format.

Here,

- **filepath_or_buffer**: path to the file
- **sep**: Delimiter to use
- **delimiter**: Alternative argument name for sep (default `None`)
- **header**: Row number(s) to use as the column names, and the start of the data 
- **names**: List of column names to use
- **index_col**: Column to use as the row labels of the DataFrame
- **usecols**: Return a subset of the columns

## Load the Pokemon dataset

In this task you will read the the file **'pokemon.csv'** using pandas `read_csv()` method to convert into a dataframe.

### Instructions
- Load the dataframe with `pandas.read_csv(filepath)` and save it as `df`. Here, filename is the name of the Pokemon csv file
- Print out `df`

In [5]:
# data source
filepath = '../data/pokemon.csv'

# Code starts here

df = pd.read_csv(filepath)
print(df)

# Code ends here

       #                    Name    Type 1  Type 2   HP  Attack  Defense  \
0      1               Bulbasaur     Grass  Poison   45      49       49
1      2                 Ivysaur     Grass  Poison   60      62       63
2      3                Venusaur     Grass  Poison   80      82       83
3      4           Mega Venusaur     Grass  Poison   80     100      123
4      5              Charmander      Fire     NaN   39      52       43
5      6              Charmeleon      Fire     NaN   58      64       58
6      7               Charizard      Fire  Flying   78      84       78
7      8        Mega Charizard X      Fire  Dragon   78     130      111
8      9        Mega Charizard Y      Fire  Flying   78     104       78
9     10                Squirtle     Water     NaN   44      48       65
10    11               Wartortle     Water     NaN   59      63       80
11    12               Blastoise     Water     NaN   79      83      100
12    13          Mega Blastoise     Water     NaN   79     103      120
13    14                Caterpie       Bug     NaN   45      30       35
14    15                 Metapod       Bug     NaN   50      20       55
15    16              Butterfree       Bug  Flying   60      45       50
16    17                  Weedle       Bug  Poison   40      35       30
17    18                  Kakuna       Bug  Poison   45      25       50
18    19                Beedrill       Bug  Poison   65      90       40
19    20           Mega Beedrill       Bug  Poison   65     150       40
20    21                  Pidgey    Normal  Flying   40      45       40
21    22               Pidgeotto    Normal  Flying   63      60       55
22    23                 Pidgeot    Normal  Flying   83      80       75
23    24            Mega Pidgeot    Normal  Flying   83      80       80
24    25                 Rattata    Normal     NaN   30      56       35
25    26                Raticate    Normal     NaN   55      81       60
26    27                 Spearow    Normal  Flying   40      60       30
27    28                  Fearow    Normal  Flying   65      90       65
28    29                   Ekans    Poison     NaN   35      60       44
29    30                   Arbok    Poison     NaN   60      85       69
..   ...                     ...       ...     ...  ...     ...      ...
770  771                 Sylveon     Fairy     NaN   95      65       65
771  772                Hawlucha  Fighting  Flying   78      92       75
772  773                 Dedenne  Electric   Fairy   67      58       57
773  774                 Carbink      Rock   Fairy   50      50      150
774  775                   Goomy    Dragon     NaN   45      50       35
775  776                 Sliggoo    Dragon     NaN   68      75       53
776  777                  Goodra    Dragon     NaN   90     100       70
777  778                  Klefki     Steel   Fairy   57      80       91
778  779                Phantump     Ghost   Grass   43      70       48
779  780               Trevenant     Ghost   Grass   85     110       76
780  781  Pumpkaboo Average Size     Ghost   Grass   49      66       70
781  782    Pumpkaboo Small Size     Ghost   Grass   44      66       70
782  783    Pumpkaboo Large Size     Ghost   Grass   54      66       70
783  784    Pumpkaboo Super Size     Ghost   Grass   59      66       70
784  785  Gourgeist Average Size     Ghost   Grass   65      90      122
785  786    Gourgeist Small Size     Ghost   Grass   55      85      122
786  787    Gourgeist Large Size     Ghost   Grass   75      95      122
787  788    Gourgeist Super Size     Ghost   Grass   85     100      122
788  789                Bergmite       Ice     NaN   55      69       85
789  790                 Avalugg       Ice     NaN   95     117      184
790  791                  Noibat    Flying  Dragon   40      30       35
791  792                 Noivern    Flying  Dragon   85      70       80
792  793                 Xerneas     Fairy     NaN  126     131       95
793  794                 Yveltal      Dark  Flying  126     131       95
794  795      Zygarde Half Forme    Dragon  Ground  108     100      121
795  796                 Diancie      Rock   Fairy   50     100      150
796  797            Mega Diancie      Rock   Fairy   50     160      110
797  798          Hoopa Confined   Psychic   Ghost   80     110       60
798  799           Hoopa Unbound   Psychic    Dark   80     160       60
799  800               Volcanion      Fire   Water   80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
5         80       65     80           1      False
6        109       85    100           1      False
7        130       85    100           1      False
8        159      115    100           1      False
9         50       64     43           1      False
10        65       80     58           1      False
11        85      105     78           1      False
12       135      115     78           1      False
13        20       20     45           1      False
14        25       25     30           1      False
15        90       80     70           1      False
16        20       20     50           1      False
17        25       25     35           1      False
18        45       80     75           1      False
19        15       80    145           1      False
20        35       35     56           1      False
21        50       50     71           1      False
22        70       70    101           1      False
23       135       80    121           1      False
24        25       35     72           1      False
25        50       70     97           1      False
26        31       31     70           1      False
27        61       61    100           1      False
28        40       54     55           1      False
29        65       79     80           1      False
..       ...      ...    ...         ...        ...
770      110      130     60           6      False
771       74       63    118           6      False
772       81       67    101           6      False
773       50      150     50           6      False
774       55       75     40           6      False
775       83      113     60           6      False
776      110      150     80           6      False
777       80       87     75           6      False
778       50       60     38           6      False
779       65       82     56           6      False
780       44       55     51           6      False
781       44       55     56           6      False
782       44       55     46           6      False
783       44       55     41           6      False
784       58       75     84           6      False
785       58       75     99           6      False
786       58       75     69           6      False
787       58       75     54           6      False
788       32       35     28           6      False
789       44       46     28           6      False
790       45       40     55           6      False
791       97       80    123           6      False
792      131       98     99           6       True
793      131       98     99           6       True
794       81       95     95           6       True
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

### Hints
- Use `.read_csv()` method as `df = pd.read_csv(filepath)`

### 2.2 Functions for quick exploration

***

You will be working on the **'pokemon.csv'** data for your tasks and we will provide snapshot of operations which were carried out on a subset of the data.


**About Pokemons**: The millenials must be well acquainted with Pokémons. For those of you that do not know about them, we will provide you with a brief background of what Pokémons are (those who know already can skip).


Pokémon—short for pocket monsters—is the name of an anime series involving creatures called **pokémon** and **trainers**. Within the narrative of the series, the pokémon trainer catches pokémon in little holding containers (called **pokeballs**), and then uses those pokémon to fight other pokémon. On its surface, the fights have two reasons:
- to weaken and capture wild pokémon
- to defeat other pokémon trainers.

The pokémon themselves are various, having different appearances, names, powers, potentials, weaknesses, and personalities. 

<img align="center" src="../images/intro_to_pokemon.jpg" width="1000" height="600" />



**Dataset description**: This data set includes $721$ Pokemon, including their number, name, first and second type, and basic stats: `HP`, `Attack`, `Defense`, `Special Attack`, `Special Defense`, and `Speed`. 


**Feature description**:

- `#`: ID for each pokemon
- `Name`: Name of each pokemon
- `Type 1`: Each pokemon has a type, this determines weakness/resistance to attacks
- `Type 2`: Some pokemon are dual type and have 2
- `Total`: sum of all stats that come after this, a general guide to how strong a pokemon is
- `HP`: hit points, or health, defines how much damage a pokemon can withstand before fainting
- `Attack`: the base modifier for normal attacks (eg. Scratch, Punch)
- `Defense`: the base damage resistance against normal attacks
- `SP Atk`: special attack, the base modifier for special attacks (e.g. fire blast, bubble beam)
- `SP Def`: the base damage resistance against special attacks
- `Speed`: determines which pokemon attacks first each round


Now let us look and understand some of the functions that you will be using to have a quick glance and understanding of data. 

1) **Looking at the top few rows**: Use `.head(n)` to display first **n** rows. By default it displays first $5$ rows.

<img align="center" src="../images/head_1.png" width="1000" height="600" />

2) **Looking at the last few rows**: Use `.tail(n)` to display the last **n** rows. By default it displays the last $5$ rows

<img align="center" src="../images/tail.png" width="1000" height="600" />

3) **General information of every column**: Use `.info()` method to display datatypes for each column, number of non-missing values and memory usage by the dataframe.

4) **Data type of every column**: Use `.dtypes` attribute  

<img align="center" src="../images/dtype.png" width="200" height="100" />

5) **Display column names**: Use `.columns` attribute to check all column names

~~~python
df.columns
~~~



6) **Check dimensions**: To check dimensions of dataframe, use `.shape` atttribute
```python
df.shape
```

7) **Check missing values per column**: Use `.isnull().sum()` to check missing values per column
```python
df.isnull().sum()
```


8) **Check number of unique values per column**: Use `.nunique()` to check unique values for every column
```python
df.nunique()
```

9) **Dropping missing values**: Use `.dropna()` to drop rows with missing values from the dataframe. You can use `inplace=True` if you want to modify the dataframe in-place.
```python
df.dropna()
```

## Quickly explore the dataset

In this task you will do a quick review of the data at hand i.e `df`.

### Instructions
- Look at the first 10 instances using `.head(10)` on the dataframe `df` and save it as `head`. Print `head` 
- Use the `.describe()` method and save it as `describe`. Print it out
- Check its dimensions with `.shape` attribute and save it to a variable `shape`. Print it out to check the shape of the dataframe
- Look at the number of missing values per attribute with `.isnull().sum()` and save it to a variable `null`. Print this one out too.
- Find number of unique values per attribute with the `.nunique()` method and save it to a variable `unique`. As before, print `unique` out

In [5]:
# Code starts here

head = df.head(10)
print(head)
print('='*50)
describe = df.describe()
print(describe)
print('='*50)
shape = df.shape
print(shape)
print('='*50)
null = df.isnull().sum()
print(null)
print('='*50)
unique = df.nunique()
print(unique)

# Code ends here

    #              Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
0   1         Bulbasaur  Grass  Poison  45      49       49       65       65
1   2           Ivysaur  Grass  Poison  60      62       63       80       80
2   3          Venusaur  Grass  Poison  80      82       83      100      100
3   4     Mega Venusaur  Grass  Poison  80     100      123      122      120
4   5        Charmander   Fire     NaN  39      52       43       60       50
5   6        Charmeleon   Fire     NaN  58      64       58       80       65
6   7         Charizard   Fire  Flying  78      84       78      109       85
7   8  Mega Charizard X   Fire  Dragon  78     130      111      130       85
8   9  Mega Charizard Y   Fire  Flying  78     104       78      159      115
9  10          Squirtle  Water     NaN  44      48       65       50       64

   Speed  Generation  Legendary
0     45           1      False
1     60           1      False
2     80           1      False
3     80           1      False
4     65           1      False
5     80           1      False
6    100           1      False
7    100           1      False
8    100           1      False
9     43           1      False
==================================================
              #          HP      Attack     Defense     Sp. Atk     Sp. Def  \
count  800.0000  800.000000  800.000000  800.000000  800.000000  800.000000
mean   400.5000   69.258750   79.001250   73.842500   72.820000   71.902500
std    231.0844   25.534669   32.457366   31.183501   32.722294   27.828916
min      1.0000    1.000000    5.000000    5.000000   10.000000   20.000000
25%    200.7500   50.000000   55.000000   50.000000   49.750000   50.000000
50%    400.5000   65.000000   75.000000   70.000000   65.000000   70.000000
75%    600.2500   80.000000  100.000000   90.000000   95.000000   90.000000
max    800.0000  255.000000  190.000000  230.000000  194.000000  230.000000

            Speed  Generation
count  800.000000   800.00000
mean    68.277500     3.32375
std     29.060474     1.66129
min      5.000000     1.00000
25%     45.000000     2.00000
50%     65.000000     3.00000
75%     90.000000     5.00000
max    180.000000     6.00000
==================================================
(800, 12)
==================================================
#               0
Name            1
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64
==================================================
#             800
Name          799
Type 1         18
Type 2         18
HP             94
Attack        111
Defense       103
Sp. Atk       105
Sp. Def        92
Speed         108
Generation      6
Legendary       2
dtype: int64

### Hints
- Create `head` as `head = df.head(10)`
- Create `describe` as `describe = df.describe()`
- Create `shape` as `shape = df.shape`
- Create `null` as `null = df.isnull().sum()`
- Create `unique` as `unique = df.nunique()`

### 2.3 Selection, creation and deletion

***

Before exploring further into the data, you need to learn how to create, select and delete values according to rows and columns. Let us look at some example to understand how it works. All of the examples have been performed on the Pokemon dataset only.

1) **Column operations**

  - **Selection**: If you have a DataFrame `df` and you want to select a column `col1` you can do it by `df[col1]`; if you have multiple columns `col1`, `col2`, `col3` you do it by `df[[col1, col2, col3]]`  
  <img align="center" src="../images/columns_1.png" width="1000" height="100" />

   Here, the column `Name` is selected and if you care to check its type, it is a **Series** object. 

  <img align="center" src="../images/columns_2.png" width="1000" height="100" />

   Here, the columns `Name`, `HP` and `Attack` are selected 
   
   - **Creation**: Now, you want to make a new column `Difference` which is the difference between `Attack` and `Defense` column for every Pokemon. How to do it? Its actually quite simple. As you already know every column is basically a pandas series object which is again a NumPy series. Provided the data types of the series match, you can add the values by a $+$ operator. In this case also, you will do the same and the syntax is: `df[new_column] = df[col1] + df[col2]` (You can also perform subtraction, division etc.)
   
   <img align="center" src="../images/columns_3.png" width="1000" height="100" />
   
   - **Deletion**: Now you want to delete the column `Difference` that you had just made. You can do it by `df.drop([col1, col2, ...], inplace=True, axis=0/1)`. Note that **inplace=True** deletes columns from the dataframe permanently and axis specifies whether to drop across columns (axis=$1$) or rows (axis=$0$) 
   
   <img align="center" src="../images/columns_4.png" width="1000" height="100" />
   
2) **Row operations**

  - **Selection**: You can access rows by either label of index using `loc` or integer (row number) using `iloc` keyword. 
  
  Syntax using **`loc`**: `df.loc[index]`
  
  Syntax using **`iloc`**: `df.iloc[row number]`

Example:

| iloc | loc |
| --- | --- |
| <img align = "left" src="../images/iloc.png" width="500" height="100" /> | <img src="../images/loc.png" width="500" height="100" /> |
   
   In the images above both of them point to the same row; the first row can be accessed via `iloc[0]` and via `loc[299]` since it has index of $299$. Their output is also the same and it is:
   
   <img align="centre" src="../images/result.png" width="500" height="100" />

   - **Slicing**: Use `df[start:end]` to slice rows according to **row number (not label)**; here end value is not inclusive. Heres how you can slice from row numbers $2$ and $3$: `df[2:4]`
   
   
   - **Creation/Addition**:  Use `df.append(data)` where `data` is a DataFrame or Series/dictionary-like object, or list of these. In our Pokemon dataset, you want to add another Pokemon whose `#` value is $800$ and rest of its attributes are all $0$. Lets look at how you can add this new instance:
   
   <img align="left" src="../images/add_row.png" width="1000" height="300" />
   
   **Observe the last row. This is the one that we had created**.

   
   - **Deletion**: You can delete rows using the `.drop()` to drop rows by specifying **axis=0** inside the function. Also, you have the liberty to drop either by label or by position. In the example of addition of rows, observe that the new instance has an index label of $0$. Lets delete it permanently.
   
   <img align="center" src="../images/delete_row.png" width="1000" height="500" />

   Now lets check whether this row was actually deleted; we already know that its index was $0$, so we will check its presence in the list of indices which are available in `df.index`
   
   <img align="center" src="../images/check1.png" width="1000" height="500" />
  
  Cool! This instance has been removed permanently. 

***

## Find total power of the Pokemons

In this task you will create a new column `Total` which is the sum of all the powers

### Instructions
- Make a new column `Total` which is the sum of all the powers i.e. `'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed'`
- Print out the new column using `df[col]` where `col` is the column name

In [6]:
# Code starts here

# Create new column
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Speed'] + df['Sp. Atk'] + df['Sp. Def']
print(df['Total'])

# Code ends here

0      318
1      405
2      525
3      625
4      309
5      405
6      534
7      634
8      634
9      314
10     405
11     530
12     630
13     195
14     205
15     395
16     195
17     205
18     395
19     495
20     251
21     349
22     479
23     579
24     253
25     413
26     262
27     442
28     288
29     438
      ...
770    525
771    500
772    431
773    500
774    300
775    452
776    600
777    470
778    309
779    474
780    335
781    335
782    335
783    335
784    494
785    494
786    494
787    494
788    304
789    514
790    245
791    535
792    680
793    680
794    600
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 800, dtype: int64

### Hints
- Create the new column `'Total'` as 
```python
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Speed'] + df['Sp. Atk'] + df['Sp. Def']
```

### 2.4 Clean the data

***

The columns `Sp. Atk`, `Sp. Def` seem like really odd names to work with. Also, the `#` attribute doesn't seem to convey any type of information other than the fact that it is unique for every pokemon. So, the `Name` attribute is enough for describing and also it is convenient to call pokemons by their names rather than their ids. 

Also, instead of row labels as $[0,1,2,3,4,...]$ don't you think it would be helpful if you have Pokemons' names instead. Well, you should definitely do this!

So, in this topic we will perform three operations which are described below:

1) **Renaming columns**: To rename columns from `col1`, `col2` to `newcol1`, `newcol2`, use the function `.rename(columns={col1:newcol1, col2:newcol2}, inplace=True)` to permanently rename the columns.

2) **Dropping columns**: You have already learnt how to do this.


3) **Set index**: To set index labels for column `column`, use `set_index(column, inplace=True)`


**Reset index in dataframes**

Another operation which although is not covered in any of the tasks here but you would be frequently using while dealing with data is the `.reset_index()` method. In the image below in the first code snippet where we set the index of the dataframe according the values in `'#'` column.

<img src='../images/set_index.png'>

Now imagine you need to revert it to the original index form due to some reasons. You can do it with the `reset_index()` method. This method will simply push the index values into a column and set default values as index. 

This method is useful when the index needs to be treated as a column, or when the index is meaningless and needs to be reset to the default before another operation. 

<img src='../images/reset_index.png'>

## Clean !

In this task you're going to apply some basic cleaning operations that you will encounter frequently while dealing with `pandas`. You're going to rename columns, drop columns permanently as well as re-index the dataframe.

### Instructions
- Rename the column `HP`, `Sp. Attack`, `Sp. Def` as `Health Points`, `Attack speed points` and `Defense speed points` respectively
- Drop the column `#` permanently from the dataframe with `.drop()` method. Put `inplace=True` and `axis=1` inside the method
- Set index to the `Name` column with `.set_index()` method. Here also, put `inplace=True` inside the method
- Now look at the first five rows using `.head()`

In [7]:
# Code starts here

# Remove the '#' column permanently
df.drop('#', inplace=True, axis=1)

# Rename columns 'HP', 'Sp. Atk' and 'Sp. Def' as 'Health Points', 'Attack speed points' and 'Defense speed points'
df.rename(columns={'HP':'Health Points', 'Sp. Atk': 'Attack speed points', 'Sp. Def': 'Defense speed points'}, inplace=True)

# Set index as names
df.set_index('Name', inplace=True)

# Look at the first 5 observations
df.head()

# Code ends here

,Type 1,Type 2,Health Points,Attack,Defense,Attack speed points,Defense speed points,Speed,Generation,Legendary,Total
Name,,,,,,,,,,,
Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

### Hints
- To remove the `'#'` column permanently from `df` use:
```python
df.drop('#', inplace=True, axis=1)
```
- To rename the columns accordingly use:
```python
df.rename(columns={'HP':'Health Points', 'Sp. Atk': 'Attack speed points', 'Sp. Def': 'Defense speed points'}, inplace=True)
```
- To set index according to the names of the Pokemon i.e. by `'Name'` column:
```python
df.set_index('Name', inplace=True)
```

### 2.5 Exploring categorical columns

***

Lets understand some functions which will help us analyse categorical columns better.

1) `.value_counts()`: It gives a quick count of observations for each level. This doesn't count **NAs** and **can be applied on series objects; not dataframes**.

2) `.unique()`: All the unique values present in the series, very similar to the `set()` function

3) `nunique()`: Length of the list returned by `.unique()` method. It is the total number of unique elements in the series


Now, we will take the help of the above three functions to answer these questions-

- **How many different variants of Type 1 pokemons are there?**
- **What are the different variants of Type 1?**
- **What is the count for each variant of Type 1?**

Look at the image below for the answers

 <img align="left" src="../images/type_1.png" width="700" height="500" />

## Find out information of Pokemons based on `Type 2` attribute 

In this task you will answer three questions:
- **How many different variants of `Type 2` pokemons are there?**
- **What are the different variants of `Type 2`?**
- **What is the count for each variant of `Type 2`?**
- **How many Pokemons do not have `Type 2`?**

### Instructions
- Answer the above questions taking the help of the code snippet for `Type 2` attribute
- The answer to the first question will be a number and save it as `type_two_num`. Use `.unique()` method on `'Type 2'` column
- The second question will be a list containing the different types (ex: 'Grass', 'Fire' etc) for the type. Use `.unique()` on `'Type 2'` column and save it as `type_two`
- To calculate the counts for different types for type, use `.value_counts()` on `'Type 2'`. Save it as `counts_type_two`. It will be a `Series` object
- You can get the number of Pokemons which do not have any second type by simply inspecting the which values are null in `'Type 2'` column using `.isnull()` and then summing them up (use `.sum()` at the end of `isnull()`). Save it as `no_type_two`

In [8]:
# Code starts here

# Different variants of `Type 2`
type_two_num = df['Type 2'].nunique()
print(type_two_num)
print('='*50)

# Total different types of `Type 2`
type_two = df['Type 2'].unique()
print(type_two)
print('='*50)

# Counts for different types of `Type 2`
counts_type_two = df['Type 2'].value_counts()
print(counts_type_two)
print('='*50)

# Number of Pokemons don't have `Type 2`
no_type_two = df['Type 2'].isnull().sum()
print(no_type_two)

# Code ends here

18
==================================================
['Poison' nan 'Flying' 'Dragon' 'Ground' 'Fairy' 'Grass' 'Fighting'
 'Psychic' 'Steel' 'Ice' 'Rock' 'Dark' 'Water' 'Electric' 'Fire' 'Ghost'
 'Bug' 'Normal']
==================================================
Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Rock        14
Water       14
Ice         14
Ghost       14
Fire        12
Electric     6
Normal       4
Bug          3
Name: Type 2, dtype: int64
==================================================
386

### Hints
- The first question code is : `type_two_num = df['Type 2'].nunique()`
- The second question can be answered as: `type_two = df['Type 2'].unique()`
- The third question can be answered as: `counts_type_two = df['Type 2'].value_counts()`
- The final question can be answered as: `no_type_two = df['Type 2'].isnull().sum()`

### 2.6 Exploring numerical columns

***

Now you will explore the numerical attributes `'Health Points', 'Attack', 'Defense', 'Attack speed points', 'Defense speed points', 'Speed', 'Generation'`. Although they are numbers, we need to check if some of them actually represent categories. For example: We can bin $1000$ bats into $5$ categories and name them as $1$. $2$, $3$, $4$ and $5$. But that doesn't take away the fact that they are nothing but category. 

Let us check first which of these numberic attributes are actually categorical in nature. A simple strategy could be finding out the total number of unqiue values of the feature and dividing by the total number of instances of it. We will use `df[col].nunique` to calculate the number of unique values for `col` attribute.
The ratio is around $0.0246$ which is very low. So, it can treated as representing a category.

<img align="centre" src="../images/categorical_check.png" width="1000" height="500" />

**So, can you answer which Pokemon has the highest `Attack` value? You can use the the `df[col].idxmax()` on a feature `col` to find this out. The output of this function gives the index for which the value/values of that column is maximum. Remember in our dataframe, the names of the Pokemon are in the index.**  

A sample example is given below where we found the Pokemon with the highest `Attack` points:
<img src='../images/idxmax.png'>

## Which Pokemon has the highest points?

In this task you will inspect which Pokemon has the highest points in health, special attack, special defense and speed.

### Instructions
- You can find the index for a particular column at which the maximum value occurs by `dataframe[column].idxmax()`
- Save the Pokemon with highest speed as `fastest_pokemon`, with highest health points as `healthiest_pokemon`, highest special attack points as `special_attack_pokemon` and highest special defense points as `special_defense_pokemon`
- Print them out

In [9]:
# Code starts here

# Which pokemon has the highest 'Health Points'?
healthiest_pokemon = df['Health Points'].idxmax()
print(healthiest_pokemon)
print('='*50)

# Which pokemon has the highest Special Atack points?
special_attack_pokemon = df['Attack speed points'].idxmax()
print(special_attack_pokemon)
print('='*50)

# Which pokemon has the highest Special Defense points?
special_defense_pokemon = df['Defense speed points'].idxmax()
print(special_defense_pokemon)
print('='*50)

# Which pokemon has highest Speed?
fastest_pokemon = df['Speed'].idxmax()
print(fastest_pokemon)

# Code ends here

Blissey
==================================================
Mega Mewtwo Y
==================================================
Shuckle
==================================================
Deoxys Speed Forme

### Hints:
- The healthiest pokemon can be found out by: `df['Health Points'].idxmax()`
- The Pokemon with highest Special Attack points can be found out by: `df['Attack speed points'].idxmax()`
- The Pokemon with highest Special Defense points can be found out by: `df['Defense speed points'].idxmax()`
- The fastest Pokemon can be found out by: `df['Speed'].idxmax()`

## Quiz

1. By which method can we get a summary of the numerical columns of a dataframe?

    a. head()
    
    b. describe()
    
**ANS**: b. describe


2. Which method is used to reset your index labels to a previous version?

    a. index()
    
    b. reset_index()
    
**ANS**: b. reset_index()


3. You have two columns col1 and col2; and now you want to add a third column col3 which is the product of the first two columns i.e. $col1*col2$. Which of the below is the appropriate syntax?

    a. df[col3] = df[col1] + df[col2]
    
    b. df[col3] = df[col1] * df[col2]
    
    c. df[col1] * df[col2]
    
    d. None of the above
    
**ANS**: b. df[col3] = df[col1] * df[col2]


4. How will you select the $200$th observation and its $5$th feature with pandas?

    a. iloc[199,4]
    
    b. iloc[199,5]
    
    c. iloc[200,5]
    
    d. iloc[200,4]
    
**ANS**: a. iloc[199,4]

## Chapter 3: Advanced pandas operations

***

### Description: In this chapter you will build on the basic operations and learn more about advanced operations in pandas

### 3.1 Conditional filtering

This is a very important way to filter out information according to some constraints. For example: We want to know in a sample of $50$ people how many of them are **man** but are **not wearing black**? You will often come across such type of conditional filtering operations where you will have to filter across multiple conditions on multiple features to prepare new data. 

You have already come across such a concept in NumPy where you use something like this `array[array > 5]` to mask or filter out values (in this example greater than 5). It works in the same way in `pandas` dataframes. 

Lets look at an example how it is done. Suppose you want only the Pokemons of the first generation, You can use `df[df['Generation'] == 1]` to do it which will generate a subset of data where pokemons are of first generation.

## Answer them

In this task you will be answering the following questions:
- Check if there any nan value present in the Pokemons names and remove them; if present
- How many total possible combinations of `Type 1` and `Type 2` excluding Pokemons which do not have `Type 2`?
- Which type (`Type 1`) has the highest number of Legendary Pokemons?
- Find how many Pokemons which have a single type (`Type 1` present and `Type 2` absent)

### Instructions
**For the first question:**
- First find the index where there is a `nan` value; the Boolean condition for finding that index is `dataframe.index.notnull()`
- Put this condition on the dataframe with the help of conditional filtering by `dataframe[condition]` which will drop the row which has a `nan` index value
- The new dataframe will not have any `nan` values in the index

**For the second question:**
- First create a new dataframe `both` which excludes all the missing values from the pokemon dataframe using `dataframe.dropna()`
- On this new dataframe use `.drop_duplicates(subset=['Type1', 'Type 2'])` to find out the instances for unique combinations. Save the outcome to a variable `combinations`. To learn more about this function go through its [documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop_duplicates.html)

**For the third question:**
- First use conditional filtering to get a dataframe that has only Legendary Pokemons
- On this dataframe count the total number of unique instances of `Type 1` column with the help of `dataframe['Type 1'].value_counts()`. It will give you which types have how many legendary pokemons
- To get the index with the maximum value use `.idxmax()` on the above series

**For the fourth question:**
- You'll create two Boolean conditions here; one will check if it has no `Type 2` and the other checks if it is `Legendary`
- For the first Boolean condition (no `Type 2`) the condition will be `dataframe['Type 2'].isnull()` which returns a Boolean series consisting of `False` values for rows having null values on `Type 2` column
- In the second condition, you can check for legendary status by `dataframe['Legendary'] == True` which returns `True` for all Legendary pokemons
- Both these conditions need to be satisfied and hence join them by `and` keyword
- Then apply conditional filtering on the dataframe and take its length using `len()` to get those Pokemons which have only `Type 1` and `Legendary`
- Print out `combinations`, `highest_legendary` and `single_type_legendary`

In [10]:
# Code starts here

# Drop row with Name as nan
df = df[df.index.notnull()]

# Number of unique combinations of Type 1 and Type 2 (only for pokemons with both the types)
both = df.dropna()
combinations = len(both.drop_duplicates(subset=['Type 1', 'Type 2']))
print(combinations)

# Find out which type of pokemons (use only `Type 1`) have the highest chances of being Legendary
highest_legendary = df[df['Legendary'] == True]['Type 1'].value_counts().idxmax()
print(highest_legendary)

# Pokemons which do not have 'Type 2' but are Legendary
single_type_legendary = len(df[df['Type 2'].isnull() & df['Legendary'] == True])
print(single_type_legendary)


# Code ends here

136
Psychic
25

### Hints
**For the first question:**
- The Boolean condition that checks for missing value is `df.index.notnull()`
- Now apply this condition on `df` itself as `df = df[df.index.notnull()]`

**For the second question:**
- Create a new variable `both` which excludes Pokemons having no `Type 2` using `both = df.dropna()`
- Then use `combinations = len(both.drop_duplicates(subset=['Type 1', 'Type 2']))` to find out the total number of possible combinations

**For the third question:**
- Use `highest_legendary = df[df['Legendary'] == True]['Type 1'].value_counts().idxmax()` to find out the answer

**For the fourth question:**
- Use `single_type_legendary = len(df[df['Type 2'].isnull() & df['Legendary'] == True])` to find out the answer

### 3.2 Apply functions

Functions can be applied along the axes of a DataFrame using the `.apply()` method, which, like the descriptive statistics methods, takes an optional `axis` argument. By default, the operation performs column wise, taking each column as an array-like. Let us look at an example where we subtracted each value of the `Total` column by its mean over the feature and dividing by its range ($maximum - minimum$)


<img align="centre" src="../images/apply.png" width="1000" height="500" />

## Learn to `apply`

In this task you will make use of the `.apply()` function to modify the Pokemon names and both its types

### Instructions
- Convert index containing Pokemon names to upper case letters with `dataframe.index = dataframe.index.str.upper()`. **Remember that `.apply()` cannot be used with index labels**
- Convert values in `Type 1` into lowercase letters with the `.lower()` method using `apply()`
- Convert values in `Type 2` into lowercase if present and replace it with `None` if absent. The lambda function is `lambda x: x.lower() if isinstance(x, str) else None`; what it does essentially is convert the `Type 2` value to lowercase if it is a string or else it sets the value as `None`

In [11]:
# Code starts here

# Convert 'Name' to uppercase
index = [i.upper() for i in df.index.values]
df.index = index

# Convert 'Type 1' to lowercase
df['Type 1'] = df['Type 1'].apply(lambda x: x.lower())

# Convert 'Type 2' to lowercase if present else 
df['Type 2'] = df['Type 2'].apply(lambda x: x.lower() if isinstance(x, str) else None)

### Hints
- To convert `'Name'` values to uppercase use `df.index = df.index.str.upper()` since you cannot use `apply` function for index labels
- To convert `'Type 1'` values to lowercase use `df['Type 1'] = df['Type 1'].apply(lambda x: x.lower())`
- To convert `'Type 2'` values to lowercase if present and replace by `'None'` if absent use `df['Type 2'] = df['Type 2'].apply(lambda x: x.lower() if isinstance(x, str) else None)`

### 3.3 Groupby functions and sorting

Now, we want to compare `Attack speed points` across categories of `Generation` for Pokemons. You might be tempted to use conditional filtering which in turn uses Boolean indexing to filter out values. But it has a downside; it will only result in binary outcomes i.e. either **Yes** or **No**. Writing separate functions for different categories is not advisable and here the `groupby` functions becomes important.

As the name suggests, the groupby function divides our dataset into groups based on our choice of attribute. It is helpful in the sense that we can:
- Compute summary statistics for every group
- Perform group-specific transformations
- Do filtration of data

**Creating groups**

In `pandas` we do it with the help of `.groupby()` function which returns a **GroupBy** object. Lets understand it through an example where we will group Pokemons according to `Generation`:

<img align="centre" src="../images/groupby_1.png" width="1000" height="500" />

You can also decide to group based on multiple attributes, for example:

<img align="centre" src="../images/groupby_2.png" width="1000" height="500" />

In this example, instances will are grouped according to their `Generation` and then for every category of `Generartion` are grouped by `Type 1` categories. We will see that in the later steps.


**Inspecting groups**

Now that we have created the groups, how to inspect them? Well, just use the `.groups` attribute of the groupby object. It returns a dictionary where **keys** are the categories and **values** are the row labels for that category. For example, if we do `df.groupby('Generation').groups` we will get a dictionary with categories of `Generation` as keys and row labels (names of Pokemons) as values.

<img align="centre" src="../images/groupby_5.png" width="1000" height="500" />




**Using aggregate functions on groups**

The next logical step after grouping them is the operation we need to perform on these groups. Lets say we want to calculate the median value of `Attack speed points` for every `Generation`. 

<img align="centre" src="../images/groupby_3.png" width="1000" height="500" />
 
Another way of doing the same operation is :

<img align="centre" src="../images/groupby_4.png" width="1000" height="500" />

Here we use `.agg()` inside which is a dictionary and the keys are the attributes and values are the statistic we want to calculate.



**Sorting**

Okay, now we want to sort the median value of `Attack speed points` for every `Generation` in descending order. We can do it with the help of `.sort_values(by=column, ascending=False)` where column is the name of the column we want to sort by and ascending=`True` if we want to sort in an ascending order. Lets see how it works out in our case

<img align="centre" src="../images/groupby_6.png" width="1000" height="500" />

## Which type (`Type 1`) Pokemons are the fastest?

In this task you will use **groupby** to find the fastest Pokemons with the help of `Type 1` and `Speed` attributes. Also, you won't be using mean to aggregrate speed values for a group; you will use median.

### Instructions
- Groupby Pokemons on `Type 1` based on the attribute `Speed` and aggregate the types based on the median values of `Speed` using `.median()`
- Then sort using `.sort_values(ascending=False)` to sort values in descending order
- Pick out the index list using `.index` which gives the types (`Type 1`) and pick up the first index. Save it as `fastest_type` and print it out

In [12]:
import numpy as np
# Code starts here

# Determine which type (Type 1) pokemons are the fastest(Speed)
fastest_type = df.groupby('Type 1')['Speed'].agg(np.median).sort_values(ascending=False).idxmax()
print(fastest_type)

# Code ends here

flying

### Hints
- Use chaining of commands for getting the fastest Pokemon by: `fastest_type = df.groupby('Type 1')['Speed'].agg(np.median).sort_values(ascending=False).idxmax()`

### 3.4 Pivot tables

***

You might be familiar with the concept of pivot tables ( if you use Excel) which enabled users to automatically sort, count, total, or average the data stored in one table. A typical example is shown below where we add the `Attack` values `Generation`-wise

<img align="centre" src="../images/pivot_excel.png" width="1000" height="500" />

The same operation can also be performed via `pandas.pivot(data, columns, index, aggfunc)` where
- `data`: dataframe to be used for pivot operation
- `columns`: Keys to group by on pivot table column
- `index`: column/array to groupby our data (Will be displayed in the index column (or columns, if you're passing in a list)
- `values` (optional): Column to aggregate (If we do not specify this then the function will aggregate all numeric columns)
- `aggfunc`: Functions to be applied to for every group (by default computes mean)

<img align="centre" src="../images/pandas_pivot.png" width="1000" height="500" />

**The difference in the values is due to the cleaning we did, so do not get perplexed.**


**Creating multi-index pivot tables**

Let us observe an example where this time we will create a multi-index pivot table where we first group based on `Legendary` and then on `Generation` to find out the mean `Attack`. In other words, it gives us the mean `Attack` for every `Generation` and `Legendary` status 

<img align="centre" src="../images/multiindex_pivot.png" width="1000" height="500" />

Another way to achieve the same result is using the `column` argument in the `.pivot_table()` method. If we pass `columns=Generation`, then it will group by `Legendary` and then group for every `Generation` and then calculate mean `Attack` across all of them.   

<img align="centre" src="../images/pivot_columns.png" width="1000" height="500" />

## Mean value of Attack speed points across generations (on rows) and types (on columns)

In this task you will use pivot tables to find mean `Attack speed points` for every `Generation` and within each generation for every type (`Type 1`)

### Instructions
- Use `.pivot_table()` on the dataframe with index as `Type 1`, values as `Attack speed points` and columns as `Generation`. Save it as `pivot` and print it out
- By default pivot table calculates the mean for the column specified as the argument `values` inside `.pivot_table()` so no need to worry about that

In [13]:
# Code starts here

# mean value of 'Attack speed points' according to 'Generation' and 'Type 1'
pivot = df.pivot_table(index='Type 1', values='Attack speed points', columns='Generation')
print(pivot)

# Code ends here

Generation           1          2           3           4           5  \
Type 1
bug          46.428571  47.916667   48.333333   63.600000   62.888889
dark               NaN  85.000000   71.666667   95.000000   65.615385
dragon       73.333333        NaN  115.000000   72.500000   97.777778
electric     91.111111  91.428571   93.000000   90.416667   87.500000
fairy        77.500000  53.000000         NaN  120.000000         NaN
fighting     42.500000  35.000000   48.000000   96.666667   47.142857
fire         93.142857  83.625000   99.375000   99.000000   72.888889
flying             NaN        NaN         NaN         NaN  117.500000
ghost       128.750000  85.000000   65.800000   90.285714   91.000000
grass        90.538462  61.666667   80.923077   84.333333   69.266667
ground       39.375000  45.000000   76.428571   51.500000   61.600000
ice         105.000000  60.000000   82.142857   93.333333   80.000000
normal       55.125000  58.466667   53.222222   60.555556   54.473684
poison       57.142857  70.000000   72.000000   58.166667   50.000000
psychic     123.000000  84.285714   97.750000   80.625000   92.785714
rock         61.500000  66.000000   62.125000   44.833333   65.500000
steel              NaN  50.000000   65.416667   84.333333   68.750000
water        69.354839  68.277778   78.481481   81.153846   77.777778

Generation           6
Type 1
bug          48.000000
dark         78.666667
dragon       82.250000
electric     83.666667
fairy        88.333333
fighting     63.000000
fire         88.500000
flying       71.000000
ghost        52.300000
grass        67.400000
ground             NaN
ice          38.000000
normal       46.750000
poison       78.500000
psychic     109.800000
rock         75.888889
steel        72.000000
water        85.200000

### Hints
- To generate the pivot table use `pivot = df.pivot_table(index='Type 1', values='Attack speed points', columns='Generation')`

### 3.5 Merge dataframes

***

**What do we mean by merging of dataframes?**

If you have ever worked with databases you must be familiar with the concept of **merge** and **join** operations. The same behaviour in pandas can be achieved with the help of `pandas.merge()` and also the `pandas.join()` methods. **Merging** two or more datasets is the process of bringing them together into one, and aligning the rows from each based on common attributes or columns.


**Avoid using for loops**

Using `for` loops you can also achieve the same outcome; but it is not advisable as it results in more verbose code which runs slowly as compared to the `.merge()` and `.join()` functionalities provided by `pandas` module.
So, if you ever come across such a situation, avoid using loops and isntead use the functionalities provided.


**Syntax of merge**

The syntax is `pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
left_index=False, right_index=False, sort=True)` where:
- `left`: dataframe
- `right`: dataframe
- `on`: Columns (names) to join on. Must be found in both the left and right DataFrame objects.
- `left_on`: Columns from the `left` DataFrame to use as keys (can either be column names or arrays with length equal to the length of the DataFrame).
- `right_on`: Columns from the `right` DataFrame to use as keys (can either be column names or arrays with length equal to the length of the DataFrame).
- `left_index`: If True, use the index (row labels) from the `left` DataFrame as its join key(s). In case of a DataFrame with a MultiIndex (hierarchical), the number of levels must match the number of join keys from the `right` DataFrame.
- `right_index`: Same usage as `left_index` for the `right` DataFrame.
- `how` − One of 'left', 'right', 'outer', 'inner'. Defaults to 'inner'
- `sort` − Sort the result DataFrame by the join keys in lexicographical order. Defaults to `True`.

**Remember that while using merge you should always specify the columns where to merge on (specified by the `on` argument inside `.merge()`)**


### Joins in dataframes
 
By default `pandas` merge function joins dataframes by inner join. An inner merge, (or inner join) keeps only the common values in both the left and right dataframes for the result. However, there are other types of joins or merge also possible with `pandas` module. Lets discuss them:

1. **Inner Merge / Inner join:** The default `pandas` behaviour; only keep rows where the merge **on** value exists in both the left and right dataframes.
2. **Left Merge / Left outer join(aka left merge or left join):** Keep every row in the `left` dataframe; where there are missing values of the **on** variable in the `right` dataframe, add empty / NaN values in the result.
3. **Right Merge / Right outer join(aka right merge or right join):** Keep every row in the `right` dataframe; where there are missing values of the **on** variable in the `left` column, add empty / NaN values in the result.
4. **Outer Merge / Full outer join** – A full outer join returns all the rows from the `left` dataframe, all the rows from the `right` dataframe, and matches up rows where possible, with NaNs elsewhere.
 
The Venn diagram below will give you a more clear understanding of the merge operations 
 
 <img align="centre" src="../images/joins.png" width="1000" height="500" />
 
 
### Merge in practice

Now lets take a look at how you can implement merging with `pandas`. Lets say we have two dataframes `attack` and `defense` describing the attacking and defensive powers of Pokemons along with their names present in both of the dataframes. The `attack` dataframe consists only of the row indices $[1,3,5,7,9]$ whereeas `defense` consists of the first $5$ rows.

Left | Right 
- | - 
 <img align="left" src="../images/attack.png" width="500" height="500" /> | <img align="right" src="../images/defense.png" width="500" height="500" />
 
Now lets do some merge operations:

1. **Inner merge:** Both the dataframes have only two rows in common; one with Pokemon `Ivysaur` and the other `Mega Venusaur` and since inner merge picks up only those rows common to both the dataframes, so we have the following result: Only two Pokemons **Ivysaur** and **Mega Venasaur** are common to the dataframes so while doing an inner merge it contains these two rows only.

 <img align="centre" src="../images/inner.png" width="1000" height="500" />


2. **Outer merge:** It will return all the rows for both dataframes and will assign NaN values wherever the values are not present. The `attack` dataframe conatins Pokemons **Charmeleon, Mega Charizard X and Squirtle** which don't have any presence in the `defense` dataframe and so their defense attributes are **NaN**s. Similarly the instances which are in `defense` but not in `attack` will have their attack attributes represented by NaNs.

 <img align="centre" src="../images/out.png" width="1000" height="500" />


3. **Left merge:** It will return a dataframe with all the possible columns from both `attack` and `defense` dataframe but containing only `attack` dataframe instances. So, there are **NaN**s where attribute values are absent.

 <img align="centre" src="../images/left.png" width="1000" height="500" />


4. **Right merge:** It will return a dataframe with all the possible columns from both `attack` and `defense` dataframe but only for `defense` dataframe instances. So, there are **NaN**s where attribute values are absent


 <img align="centre" src="../images/right.png" width="1000" height="500" />


### Can we track merges?

In the process of merging dataframes you can often get confused where a particular instance came from; thanks to `pandas` you can now keep a track of the merge. Just pass the `indicator=True` inside the `.merge()` to view this. For example:

 <img align="centre" src="../images/indicator.png" width="1000" height="500" />

## Can you `merge`?

In this task you will merge two dataframes `df1` and `df2` into one single dataframe. `df1` has column `fruit` and `df2` has column `product` which contain the same entity fruits; so you will be merging both of them. In a similar manner the columns `weight` and `kilo` on `df1` and `df2` respectively represent the weights of the fruits and so you will be merging on them as well. You will doing an `inner` merge operation that contains rows that are common to both these dataframes on these two pairs of columns.

### Instructions
- From the left dataframe i.e. `df1` you will be taking two columns for merging `fruit` and `weight`; so pass them as `left_on=['fruit','weight']` inside the `.merge()` method
- Now from the right dataframe `df2` you are taking two columns for merging with the two columns from `df1`; so pass them as `right_on=['product', 'kilo']` inside `.merge()` method
- Since it is an inner join pass `how='inner'` also
- To distinguish the `price` attribute from the left and right dataframes for an instance, pass `suffixes=['_left', '_right']`
- Store this dataframe inside a variable `merged` and print it out

In [14]:
# Input 

df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'product': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

# Code starts here

merged = pd.merge(df1, df2, how='inner', left_on=['fruit', 'weight'], right_on=['product', 'kilo'], suffixes=['_left', '_right'])
print(merged)

# Code ends here

    fruit weight  price_left product  kilo  price_right
0   apple   high           4   apple  high           14
1   apple   high           1   apple  high           14
2   apple   high           4   apple  high           14
3  orange    low           6  orange   low            7
4  orange    low          13  orange   low            7
5  orange    low           9  orange   low            7

### Hints
- Remember you have to merge `df1` and `df2` by `inner` merge on columns `'fruit', 'weight'` coming from `df1` and `'product', 'kilo'` coming from `df2` with suffixes `'_left', '_right'`; so the commnand will be:
```python
merged = pd.merge(df1, df2, how='inner', left_on=['fruit', 'weight'], right_on=['product', 'kilo'], suffixes=['_left', '_right'])
```

## Broad picture of pandas

Before we close, let us reconcile the picture we began with - converting `raw` data into a cleaner form that is conducive for further processing. During this long journey of pandas you have done all sorts of data wrangling tasks (detecting missing values, renaming columns, dropping and replacing missing values) along with generating insights from the data. The raw data that we had was ambiguous which needed some amount of cleansing before we could gather any kind of information from it. 

<h3 style='color:red'>Before</h3>

<img src='../images/before.png'>

<h3 style='color:green'>After</h3>

<img src='../images/after.png'>

Look at this picture and reflect on the journey till now. If you are looking for insights and understanding from your data, think of which form of data you would prefer. 
- The new dataframe after all the tasks you have done has no ambiguity with the column names - the column names are more meaningful.
- A new column `Total` was also created which is the sum of all the powers for a Pokemon - a value addition to previous dataframe.
- `Type 2` null values were replaced with the `None` keyword and the row with null value for the name of the Pokemon was deleted. 
- Every instance has index as the name of the Pokemon which makes it more meaningful than random indices. 

Now all of these operations were possible due to the vast functions made available by `pandas`. **This dataset is now fit for doing any kind of Machine Learning task. For ex: Given other features predict whether the Pokemon is Legendary or not** and many more. Sometimes data wrangling alone might be insufficient and we might need to get visual summaries to get a better understanding on data. In the next chapter, we will look closely on how to visualize data effectively for insights.

## Quiz

1. You have a pandas Series 'ser' which has numerical values in the range of 1-100. Suppose you apply conditional conditional filtering as mask = ser < 20. What data type is present in the variable mask?

    a. Boolean
    
    b. Integers
    
    c. Floats
    
    d. None of the above
    
**ANS**: a. Boolean


2. Which method you would use to group categories of a column using pandas?

    a. groupby()
    
    b. describe()
    
    c. info()
    
**ANS**: a. groupby()


3. Can we use the apply function for both rows and columns with dataframes?

    a. YES
    
    b. NO
    
**ANS**: a. YES


4. Can we track merges with merge() method of pandas?

    a. YES
    
    b. NO
    
**ANS**: a. YES

## Concept level quiz

1. Pandas is designed to work with _______ data.

    a. Relational 
    
    b. Labeled
    
    c. Both of these
    
    d. None of these
    
**ANS**: c. Both of these


2. DataFrame is usually a _______ labeled data structure.

    a. 1-D
    
    b. 2-D
    
    c. None of these
    
    d. Both of them
    
**ANS** b. 2-D


3. Pandas does easy handling of missing data in floating point as well as non-floating point data?

    a. TRUE
    
    b. FALSE
    
**ANS**: a. TRUE


4. Shape property in pandas is used to

    a. Visualize the distribution of the data
    
    b. See the number of rows and columns of the data
    
    c. Visualise the shape of skewness of the data
    
    d. See the spread of data (mean, median etc.)
    
**ANS**: b. See the number of rows and columns of the data


5. The _______ method allows us to retrieve rows and columns by position.

    a. head
    
    b. getloc
    
    c. iloc
    
**ANS**: c. iloc


6. Pivot table can aggregate the data and summarize it by grouping the columns

    a. TRUE
    
    b. FALSE
    
**ANS**: a. TRUE


7. _______ is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame.

    a. concatenate
    
    b. merge
    
    c. join
    
    d. collaborate
    
**ANS**: c. join


8. Dimensions should match along the axis you are _______ on

    a. Concatenating
    
    b. Merging
    
    c. Joining
    
    d. Collaborating
    
**ANS**: a. Concatenating


9. Series can have axis labels and it can be indexed by a label

    a. TRUE
    
    b. FALSE
    
**ANS**: a. TRUE


10. Which attribute is used to retrieve column names of a dataframe?

    a. columns
    
    b. index
    
**ANS**: a. columns